KielGavanez/company.dtd

<!ELEMENT  company (employee)>
<!ELEMENT  employee (firstName,lastName,contactNo,email,address)>
<!ELEMENT  firstName (#PCDATA)>
<!ELEMENT  lastName (#PCDATA)>
<!ELEMENT  contactNo (#PCDATA)>
<!ELEMENT  email (#PCDATA)>
<!ELEMENT  address (city,state,zipCode)>
<!ELEMENT  city (#PCDATA)>
<!ELEMENT  state (#PCDATA)>
<!ELEMENT  zipCode (#PCDATA)>